<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write your new chat here... </h3>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="Who're you?"><br><br>
        <textarea name="msg" placeholder="Write ur message here"></textarea> <br><br>
        <input type="text" placeholder="Reciever" name="to"> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>